version=0.19.0
break-cases=all
break-fun-decl=fit-or-vertical
break-fun-sig=fit-or-vertical
break-infix-before-func=false
break-infix=fit-or-vertical
break-separators=before
break-sequences=true
cases-exp-indent=2
doc-comments=before-except-val
dock-collection-brackets=false
if-then-else=k-r
parens-tuple-patterns=always
parens-tuple=always
space-around-arrays=false
space-around-lists=false
space-around-records=false
space-around-variants=false
type-decl=sparse
